body {
    background: url("fond_burger.jpg");
}

img.pas_cool {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.big_bro {
    display: block;
    width: 200px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}
